{% extends "layout.html" %}
 
{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js, Nimit!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div id="tweets" class="col-md-9">
    
      <!-- display tweets here -->
      <h3> All Tweets</h3>
      {% for tweet in tweets %}

        <li class='clearfix'>
        	<img src ="{{ user.pictureUrl }}"/>
        	<div id='text'>
        		<h5><a href="/users/{{user.userId}}">{{user.userName}}</a> </h5>
        		<p id='{{tweet.tweetId}}'>{{tweet.tweet}}</p>
        		<a href="#">Re-Tweet</a>
        	</div>
        </li>
      {% endfor %}

      {% if showForm %}
        <h1>Post as {{user.userName}}</h1>
        <form action="/submit" method="POST">
          <input type="hidden" name="userId" value="{{ user.userId }}">
          <!-- <label for="name_field">Name:</label><br/>
          <input name="userName" type="text" id="name_field" value="{{ user.userName }}"/><br/><br/> -->
          <label for="text_field">Tweet:</label><br/>
          <input name="tweet" type="text" id="text_field" style="width: 350px;" /><br/>

          <input type="submit" value="Submit" /><br><br>
        </form>
          <a href="/deleteuser/{{user.userId}}"><button class="btn btn-danger">Delete User</button></a>
      {% endif %}
      
    </div>
  </div>

    
{% endblock %}
