html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
 
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
 
/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}
 
 
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
 
#wrap > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
 
#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
 
code {
  font-size: 80%;
}
 
.tweetbox {
  padding: 7px;
}
 
.tweetbox img {
  float: left;
  height: 48px;
  width: 48px;
  content:url("http://lorempixel.com/48/48");
}
.content {
  margin-left: 60px;
}
.content .by {
  font-weight: bold;
}

li img {
  height: 50px;
  float: left;
  margin: 10px;
}
#tweets li {
  list-style: none;
  margin-top: 10px;
/*  display: inline-block;*/
}
h5 {
  margin-bottom: 2px;
}
li p {
  margin-bottom: 0px;
}
#text {
  float:left;
}